<section>
  <!-- <h2> array crud</h2> -->
  <div class="main-content">
    <div style="text-align: center;">
      <ul style="list-style-type: circle; margin: 0; padding: 0; display: inline-block; margin-top: 50px;">
        <li *ngFor="let item of userarray">{{item}}</li>
      </ul>
    </div>
    

    <div class="container mt-3">
      <table style="width: 90%;
      margin: 40px 40px;" id="resizeMe" class="resizable-table table table-hover">
        <thead>
          <tr id="header-row">
            <th class="draggable-table" data-column="0">Firstname</th>
            <th class="draggable-table" data-column="1">salary</th>
            <th class="draggable-table" data-column="2">location</th>
          </tr>
        </thead>
        <tbody>
          <tr style="text-align: center;" *ngFor=" let items  of userlist">
            <td>{{items.name}}</td>
            <td>{{items.salary}}</td>
            <td>{{items.Location}}</td>

          </tr>

        </tbody>
      </table>
    </div>
  </div>

</section>